  <div class="container">
    <div class="row  mt-5">
      <div class="col-md-6">
        <h1>Over BeerReview</h1>
        <p>Op Bierreview is elk mogelijk biertje te vinden. Het doel van deze site is om een te kijken welke biertjes het best worden be oordeeld
          door de community. Ook is het mogelijk om een jouw mening achter te laten op het des betreffende bier. Tot slot is het ook mogelijk om bier aan te raden aan vrienden
          . Op het eind van elke week word er een ranking gepubliceert waarbij de top 10 best gerate biertjes te vinden zijn. Zodat jij precies weet welk
          biertje jij moet proeven dit weekend.</p>
      </div>
      <div class="col-md-6">
        <img class="imageLeft" src="/assets/img/brew.jpeg" alt="image" width="90%" height="95%">
      </div>
    </div>
  </div>
