<div class="container">
    <div class="row ">
      <div class="col-md-6">
        <img src="/assets/img/HertogMain.jpg" alt="image" width="85%" height="90%">
      </div>
      <div class="col-md-6">
        <h1>Welkom bij Beer Review</h1>
        <p>Deze site is bedoeld voor het beoordelen en delen van pils. Ook is het mogelijk om een jouw mening achter te laten op het des betreffende pilsje. Tot slot is het ook mogelijk om pilsjes aan te raden aan vrienden.</p>
      </div>
    </div>
  </div>